@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@500&display=swap');
body {
    font-family: 'Roboto Slab', serif;

}
h1 {
   text-align: center;
   padding-top:20px;
}
.h2 {
   font-size:1.3em;
}
header {
   background-color:#16044F;
   height:75px;
   border-radius: 25px 25px 0 0;
   color:#FBFBFB;
   position:relative;
}

#designportal {
    margin-left:30px;
 }
#designportal_hr {
    margin-left:30px;
    width:700px;
 }

footer {
   background-color:#03175B;
   height:75px;
   border-radius: 0 0 25px 25px;
   color: #FBFBFB;
   text-align:center;
   padding-top: 25px;
}
main {
   background-color: #FBFBFB;
   border: solid thick #03175B;
}
#content {
   width:800px;
   margin: 100px auto 0 auto;
}
#image {
   position:absolute;
   top: 15px;
   left:590px;
   border-radius: 0 10px 0 0;
   width:200px;
}


#updated {
   color: yellow;
}
#b_link {
   color:white;
}