
  
  header,
  footer {
    background-color: #494848;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    margin: 10px;
  }
  

 
  
  header h1 {
    font-size: 2.5rem;
  }
  
  div {
    
    text-align: center;
    color: #1d1c1c;
    font-size: 1.25rem;
    font-family: 'Lora', serif;
    border-radius: 5px;
  }
  
  div h2 {
    background-color: #edf2f4;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Lora', serif;
    padding: 0.5rem;
  }
  
  img {
    width: 60%;
    max-width: 300px;
    border-radius: 5px;
  }
  
  div p {
    padding: 1rem;
    text-align: justify;
  }
  

  
  
  main {
    margin: 0 25px 0 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  
  .div1 {
    grid-column: 1/2;
    grid-row: 1;
  }
  
  .div2 {
    grid-column: 1/2;
    grid-row: 2;
  }
  
  .div3 {
    grid-column: 1/2;
    grid-row: 3;
  }

  footer {
    font-family: 'Lora', serif;
    font-size: 1rem;
  }
  
  #b_link {
    color:white;
 }